body {
    overflow-x: hidden;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-size: 18px;
}

p.small {
    font-size: 16px;
}

a:hover,a:focus,a:active,a.active {
    color: #343838;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.heading {
    padding: 15px 0px;
}

.diagram {
    text-align: center;
    padding: 15px 0px;
}

header {
    text-align: center;
    color: #FFFFFF;
    background: #005F6B;
}

header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 0px;
}

header .intro-text {
    padding: 10px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-size: 15em;
    font-weight: 600;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 75px;
        padding-bottom: 50px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 0 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-default {
    border: 0px;
}

.navbar {
    text-transform: uppercase;
    background-color: #343838;
    font-weight: 700;
}

section {
    padding-top: 25px;
    padding-bottom: 10px;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

footer {
    color: #fff;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #005F6B;
}
